:root {  
  --bg: #111513;
  --fg: #87928a;

  --dark-bg: #171c19;
  --dark-fg: #87928a;

  --text: #87928a;
  --comments: #5f6d64;
  --punctuation: #87928a;
  --delimiters: #87928a;
  --operators: #87928a;
  --keywords: #55859b;
  --variables: #b16139;
  --functions: #478c90;
  --classes: #a07e3b;
  --classes: #ecf4ee;
  --methods: #478c90;
  --storage: #55859b;
  --support: #1c9aa0;
  --strings: #489963;
  --inheritedClass: #489963;
  --integers: #9f713c;
  --floats: #9f713c;
  --boolean: #9f713c;
  --constants: #9f713c;
  --tags: #b16139;
  --attributes: #9f713c;
  --attributeIDs: #478c90;
  --selector: #55859b;
  --values: #9f713c;
  --units: #9f713c;
  --code: #489963;
  --linkText: #b16139;
  --linkUrl: #9f713c;
  --lists: #b16139;
  --quotes: #9f713c;
  --separator: #526057;
  --inserted: #489963;
  --deleted: #b16139;
  --changed: #55859b;
  --colors: #1c9aa0;
  --regularExpressions: #1c9aa0;
  --escapeCharacters: #1c9aa0;
  --embedded: #867469;
  --illegal: #b16139;
  --broken: #9f713c;
  --deprecated: #867469;
  --unimplemented: #5f6d64;
}
