{% import "post_macros.html" as post_macros %}

<!DOCTYPE html>
<html lang="en">
    <head>
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta http-equiv="content-type" content="text/html; charset=utf-8">

      <!-- Enable responsiveness on mobile devices-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <script src="https://unpkg.com/@phosphor-icons/web"></script>

    {% if page %}
      {% if page.description %}
      <meta name="description" content="{{ page.description }}" />
      {% elif config.description %}
      <meta name="description" content="{{ config.description }}" />
      {% endif %}
    {% elif config.description %}
      <meta name="description" content="{{ config.description }}" />
    {% endif %}

      <title>{% block title %}{{ config.title }}{% endblock title %}</title>

      {% if config.generate_feed %}
        <link rel="alternate" type={% if config.feed_filename == "atom.xml" %}"application/atom+xml"{% else %}"application/rss+xml"{% endif %} title="RSS" href="{{ get_url(path=config.feed_filename) | safe }}">
      {% endif %}

      {% block css %}
          <link rel="stylesheet" href="{{ get_url(path="site.css", trailing_slash=false) | safe }}">
      {% endblock css %}

      {% block extra_head %}
      {% endblock extra_head %}
    </head>

    <body class="hack dark main container">
        {% block content %}
            {% block header %}
                {% if config.extra.after_dark_menu %}
                    <header class="home-header">
                        <nav itemscope itemtype="http://schema.org/SiteNavigationElement">
                          {% for item in config.extra.after_dark_menu %}
                          <a itemprop="url"
                              class="disable-a-style {% if item.url | replace(from="$BASE_URL", to=config.base_url) == current_url %}active{% endif %}"
                              href="{{ item.url | safe | replace(from="$BASE_URL", to=config.base_url) | safe }}">
                              {% if item.icon %}
                              <span><i class="ph ph-{{- item.icon -}}"></i>{{item.name}}</span>
                              {% else %}
                              <span itemprop="name">{{ item.name }}</span>
                              {% endif %}
                          </a>
                          {% endfor %}
                          {% if config.generate_feed %}
                          <a itemprop="url" class="disable-a-style" href="{{ get_url(path=config.feed_filename) | safe }}"><i class="ph ph-rss"></i>RSS</a>
                          {% endif %}
                        </nav>
                        {% if config.extra.after_dark_home_photo %}
                        <div class="home-profile-photo">
                          <img src="{{ config.extra.after_dark_home_photo | safe}}" />
                        </div>
                        {% endif %}
                        {% if config.extra.after_dark_title %}
                        <div class="home-profile-title"><!-- TODO: Fix class -->
                          <span>
                            {{ config.extra.after_dark_title}}
                          </span>
                        </div>
                        {% endif %}
                        {% if config.extra.after_dark_subtitles %}
                        <div class="home-profile-subtitles"><!-- TODO: Fix class -->
                        {% for item in config.extra.after_dark_subtitles %}
                          <div>
                            {{ item }}
                          </div>
                          {% endfor %}
                        </div>
                        {% endif %}
                    </header>
                {% endif %}
            {% endblock header %}

            <main>
                {% if content.title %}
                    <header>
                        <h1>{{ content.title }}</h1>
                    </header>
                {% endif %}
            </main>
        {% endblock content %}
    </body>

</html>
